 @import url(./_min.shop.scss);
 .container{
     max-width: 1100px;
   
}


.shop{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.968),rgba(255, 255, 255, 0.914), rgba(193, 193, 193, 0)),
    url(../Images/shopbg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center ;
    height:450px;

}
.ceramic {
    padding: 100px;
    &__title{
        text-align: center;
    }
}
@media screen and (max-width:600px) {
    
    .navbar{
     align-items: center;
 
     &__menyu{
         visibility: hidden;
     }
     &__hamburger{
         width: 60px;
         float: right;
         border:1px solid grey;
         text-align: center;
         margin-top: 20px;
         background-color: rgba(128, 128, 128, 0.18);
         border-radius: 5px;
         &:hover{
             background-color: rgba(128, 128, 128, 0.84);
         }
         span{
             height: 2px;
             background-color: black;
             display: block;
             margin:5px;
         }
     }
    }
}